{% extends "layout.html" %}
{% block content %}
<div id="games">
<h1>{{ genre }} Games</h1>
<h2>Number of Games: {{num_games}}</h2>
    {% include 'navigation_buttons.html' %}

    <div id="padding"></div>
    {% for game in games %}
        <div id="gamelist">
            <a href="{{ url_for('description_bp.description', game_id=game.game_id) }}"><img src="{{game.game_img}}" alt="{{game.title}} image"></a>
            <div id="gametitle">{{game.title}}</div>
        </div>
    {% endfor %}
    <div id="padding"></div>
    {% include 'navigation_buttons.html' %}
    </div>


{% endblock %}
